body {
  background-color: goldenrod;
  color: indigo;
}
h1 {
  text-align: center;
  font-size: 48px;
}
img {
  display: block;
  margin: 0 auto;
  border: 2px solid indigo;
  border-radius: 8px;
}
.index-link {
  text-align: center;
  display: inline;
  margin: 0 auto;
}
